<%- layout('layouts/main.ejs') %>
<%- layout('layouts/main.ejs') %>

<div class="containerGeneral">
    <div class="signUpCard ">
        <div class="header z-depth-2">
            SignIn
        </div>
        <div class="body z-depth-3">
            <div class="bodyContent">
                <form action="/signin" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="email" type="text" class="validate" required>
                            <label for="email">Correo electronico</label>
                        </div>
                    
                        <div class="input-field col s12">
                            <input name="username" type="text" class="validate" required>
                            <label for="username">Nombre de usuario</label>
                        </div>
                    
                        <div class="input-field col s12">
                            <input name="password" type="password" class="validate" required>
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-around;">
                        <a href="/signup" class="btn-floating btn-large waves-effect waves-light red"><i
                                class="material-icons ">chevron_left</i></a>
                        <button style="width:50%" type="submit" class="waves-effect waves-light btn-large"><i
                                class="material-icons left">send</i>Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Mensaje de error -->
<script type="text/javascript">
    var signinMessageLength = <%= signinMessage.length  %>;
    $(document).ready(() => {
        if (signinMessageLength > 0) {
            M.toast({ html: 'El correo electronico ya existe' });
        }
    });
</script>