<%- layout('layouts/main.ejs') %>

<div class="containerGeneral">
    <div class="signUpCard ">
        <div class="header z-depth-2">
            SignUp
        </div>
        <div class="body z-depth-3">
            <div class="bodyContent">
                <!-- <div style="width: 100%; height: 100%; background-color: red"></div> -->
                <form action="/signup" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                          <input name="email" type="text" class="validate" required>
                          <label for="first_name">Correo electronico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" type="password" class="validate" required>
                            <label for="last_name">Contraseña</label>
                        </div>
                    </div>
                    <div class="btnContainer" style="display: flex; justify-content: space-around; align-items: center;">
                        <a href="/signin" class="waves-effect waves-light btn-large"><i class="material-icons left">create</i>Registrarse</a>
                        <button type="submit" class="waves-effect waves-light btn-large"><i class="material-icons left">send</i>Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Mensaje de error -->
<script type="text/javascript"> 
    var signupMessageLength = <%= signupMessage.length  %>;
    $(document).ready( ()=>{
        if (signupMessageLength > 0) {
            M.toast({html: 'Las credenciales de usuario son incorrectas'});
        }
    });
</script>
