<%- layout('layouts/main.ejs') %>
<button onclick="test()">printPdf</button>
<script type="text/javascript">
    function test(){
        window.open("http://localhost:3000/public/pdf/a4.pdf")
    }
</script>