.formCardContainer{
    padding: 5px;
    overflow: hidden;
    overflow: hidden;
    .formCard{
        display: flex;
        flex-direction: column;
        .formCardHeader{
            margin-top: -20px;
            padding: 0 30px;
            position: absolute;
            z-index: 2;
            .formCardContent{
                display: inline-block;
                padding: 0 15px;
                background-color: white;
                color: #1a237e;
                font-size: 1.7em;
            }
        }
        .formCardBody{
            border: 1px solid #303f9f ;
            border-radius: 10px;
            padding-top: 25px;
            min-height: 60px;
            height: auto;
            z-index: 1;
            .formCardContent{
                padding: 0px 30px;
                padding-bottom: 10px;
                box-sizing: border-box;
            }
            .formCardAction{
                border-top: 1px solid #303f9f ;
                display: flex;
                a{
                    margin: 10px 15px;
                    font-size: 1.2em;
                    color: black;
                    transition: all .1s;
                    color: #283593 ;
                    &:hover{
                        color: #9fa8da  ;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

// EXAMPLE

// <div class="formCardContainer">
//   <div class="formCard">
//     <div class="formCardHeader">
//       <div class="formCardContent">
//         Titulo del formulario
//       </div>
//     </div>
//     <div class="formCardBody z-depth-1">
//       <div class="formCardContent">
//          contenido
//       </div>
//       <div class="formCardAction">
//         <a href="">This is a link</a>
//         <a href="">This is a link</a>
//       </div>
//     </div>
//   </div>
// </div>