.formCardContainer {
  padding: 5px;
  overflow: hidden;
  overflow: hidden; }
  .formCardContainer .formCard {
    display: flex;
    flex-direction: column; }
    .formCardContainer .formCard .formCardHeader {
      margin-top: -20px;
      padding: 0 30px;
      position: absolute;
      z-index: 2; }
      .formCardContainer .formCard .formCardHeader .formCardContent {
        display: inline-block;
        padding: 0 15px;
        background-color: white;
        color: #1a237e;
        font-size: 1.7em; }
    .formCardContainer .formCard .formCardBody {
      border: 1px solid #303f9f;
      border-radius: 10px;
      padding-top: 25px;
      min-height: 60px;
      height: auto;
      z-index: 1; }
      .formCardContainer .formCard .formCardBody .formCardContent {
        padding: 0px 30px;
        padding-bottom: 10px;
        box-sizing: border-box; }
      .formCardContainer .formCard .formCardBody .formCardAction {
        border-top: 1px solid #303f9f;
        display: flex; }
        .formCardContainer .formCard .formCardBody .formCardAction a {
          margin: 10px 15px;
          font-size: 1.2em;
          color: black;
          transition: all .1s;
          color: #283593; }
          .formCardContainer .formCard .formCardBody .formCardAction a:hover {
            color: #9fa8da;
            transform: scale(1.05); }
